<div class="container2"> 

<div class="container1">
<div class="title">Choose type of Data</div>
<form id="form1" action="/dashboardac" method="POST" style="display: block;">
    <label>Date</label>
    <input type="date" id="start" name="tripStart"
       value="2018-07-22">
    <div>
        <label>Quanity</label>
        <select name ="dataset" id = "dataset" onchange="toggle(this.value);">
            <option value="actualTotalLoad" selected>Actual Total Load</option>
            <option value="aggregatedGenerationPerType">Aggregated Generation Per Type</option>
            <option value="physicalFlows">Physical Flows</option>
        </select>
        <label>Country</label>
        <select name="country" id="country">
            <option value="greece">Greece</option>
            <option value="italy">Italy</option>
            <option value="spain">Spain</option>
        </select>
    </div>
    <button class="button-38">Refresh</button>
</form>

<form id="form2" action="/dashboardag" method="POST" style="display: none;">
    <label>Date</label>
    <input type="date" id="start" name="tripStart"
       value="2018-07-22">
    <div>
        <label>Quanity</label>
        <select name ="dataset" id = "dataset" onchange="toggle(this.value);">
            <option value="actualTotalLoad">Actual Total Load</option>
            <option value="aggregatedGenerationPerType" selected>Aggregated Generation Per Type</option>
            <option value="physicalFlows">Physical Flows</option>
        </select>
        <label>Country</label>
        <select name="country" id="country">
            <option value="greece">Greece</option>
            <option value="italy">Italy</option>
            <option value="spain">Spain</option>
        </select>
        <label>Generation Type</label>
        <select name="generationType" id="country">
            <option value="naturalGas">Natural Gas</option>
            <option value="petrol">Petrol</option>
            <option value="sun">Sun</option>
        </select>
    </div>
    <button class="button-38">Refresh</button>
</form>

<form id="form3" action="/dashboardp" method="POST" style="display: none;">
    <label>Date</label>
    <input type="date" id="start" name="tripStart"
       value="2018-07-22">
    <div>
        <label>Quanity</label>
        <select name ="dataset" id = "dataset" onchange="toggle(this.value);">
            <option value="actualTotalLoad">Actual Total Load</option>
            <option value="aggregatedGenerationPerType">Aggregated Generation Per Type</option>
            <option value="physicalFlows" selected>Physical Flows</option>
        </select>
        <label>Country (from)</label>
        <select name="countryfrom" id="countryfrom">
            <option value="greece">Greece</option>
            <option value="italy">Italy</option>
            <option value="spain">Spain</option>
        </select>
        <label>Country (to)</label>
        <select name="countryto" id="countryto">
            <option value="bulagria">Bulgaria</option>
            <option value="italy">Italy</option>
            <option value="spain">Spain</option>
        </select>
    </div>
    <button class="button-38">Refresh</button>
</form>
</div>
<div class="leftdata">
    <div class="upperdata">

    <h5>Name: {{name}}</h5>
    <h5>Email: {{email}} </h5>
    </div>

    <div class="downloadbuttons">
    <button class="button-38">Download Image</button>
    <button class="button-38">Download Data</button>
    </div>
    <hr>

    <div class="downdata">
    <h5>Days left: {{remaining}}</h5>
    <h5>Last login : {{lastLogin}}</h5>
    </div>

</div>
</div>