<h6>Renew</h3>
<h3>Welcome {{name}}</h3>
<h4>Has {{date}} left</h4>
<p>Here you are</p>

<form action="/renew/extentDays" method="POST">
    <label>Extend by(days):</label>
    <input type="number" name = "extend_days">
    <button>Extend</button>
    
</form>
