<h2> hello</h2>
<p> The project was completed by George Pagonis AM: 03117030 in SaaS cource at Ntua.</p>
<p> Furher information can be found in github</p>
<ol>
<li> https://github.com/ntua/saas2022-50 (private) </li>
<li> https://github.com/GeorgePag4028/EnergyLive2022-Ntua (public) </li>
</ol>
